
/var/*
!var/data/
/var/data/dev.db
/var/data/test.db

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
#var/
/vendor/
###< symfony/framework-bundle ###
