{% extends 'design/layout.html.twig' %}

{% block title %}
    Layout|Body
{% endblock %}

{% block body %}{% endblock %}

{% block design_modal %}
    {% embed 'design/_modal.html.twig' %}
        {% block message %}
            <p>This page contains only the body tag.</p>
        {% endblock %}
    {% endembed %}
{% endblock %}
