{% extends 'design/layout.html.twig' %}

{% block title %}
    Empty
{% endblock %}

{% block modal_content %}
    <p>This page contains only the body tag. Test it with differents height of body.</p>

{% endblock %}

{% block body %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
