{% extends 'design/layout.html.twig' %}

{% block title %}
    Layout|Empty
{% endblock %}

{% block design_stylesheets %}
    <style>
        nav {
            min-height: 56px;
        }
        footer {
            min-height: 56px;
        }
    </style>
{% endblock %}

{% block header %}{% endblock %}
{% block navbar %}{% endblock %}
{% block sidebar %}{% endblock %}
{% block page %}{% endblock %}
{% block footer %}{% endblock %}

{% block design_modal %}
    {% embed 'design/_modal.html.twig' %}
        {% block message %}
            <p>This page contains only structure without content.</p>
        {% endblock %}
    {% endembed %}
{% endblock %}
