{% extends 'design/layout.html.twig' %}

{% block title %}
    Layout|Empty
{% endblock %}

{% block modal_content %}
    <p>This page contains only structure without content. Test it with differents height.</p>
{% endblock %}

{% block header %}{% endblock %}
{% block navbar %}{% endblock %}
{% block sidebar %}{% endblock %}
{% block page %}{% endblock %}
{% block footer %}{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <style>
        nav {
            min-height: 56px;
        }
        footer {
            min-height: 56px;
        }
    </style>
{% endblock %}
