{% extends 'design/layout.html.twig' %}

{% block title %}
    Layout|Footer
{% endblock %}

{% block modal_content %}
    <p>This page contains only structure and content of footer. Test it with differents height.</p>
{% endblock %}

{% block header %}{% endblock %}
{% block navbar %}{% endblock %}
{% block sidebar %}{% endblock %}
{% block page %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        nav {
            min-height: 56px;
        }
    </style>
{% endblock %}
