{% extends 'design/layout.html.twig' %}

{% block title %}
    Layout|Full
{% endblock %}

{% block modal_content %}
    <p>This page contains page without content. Test it with differents height.</p>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
