{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}
<h1>Welcome!</h1>
<ul>
    <li><a href="{{ path('app_user_index') }}">Profiles</a></li>
    <li><a href="{{ path('app_admin') }}">Admin</a></li>
</ul>
{% endblock %}
