body.back {
    overflow-x: hidden;

    #sidebar-wrapper {
        min-height: 100vh;
        z-index: 1;

        .sidebar-heading {
            padding: 0.875rem 1.25rem;
            font-size: 1.2rem;
        }

        .list-group {
            width: 15rem;
        }
    }

    #sidebar-wrapper,
    #page-content-wrapper {
        -webkit-transition: margin .25s ease-out;
        -moz-transition: margin .25s ease-out;
        -o-transition: margin .25s ease-out;
        transition: margin .25s ease-out;
    }

    @media (max-width: 991.98px) {
        #sidebar-wrapper {
            margin-left: -15rem; // out to left
        }

        #page-content-wrapper {
            min-width: 100vw; // always full width
            margin-left: 0rem; // from left

        }

        #menu-toggle {
            .fa-arrow-left {
                display: none;
            }

            .fa-arrow-right {
                display: inline-block;
            }
        }

        #wrapper.toggled {
            #sidebar-wrapper {
                margin-left: 0rem; // in from left
            }

            .navbar {
                margin-left: 15rem;
            }

            #page-content-wrapper {
                margin-left: -15rem; // masqued by under sidebar
            }

            #menu-toggle {
                .fa-arrow-left {
                    display: inline-block;
                }

                .fa-arrow-right {
                    display: none;
                }
            }
        }
    }

    @media (min-width: 992px) {
        #sidebar-wrapper {
            margin-left: 0;
        }

        #page-content-wrapper {
            min-width: 0;
            width: 100%;
        }

        #menu-toggle {
            .fa-arrow-left {
                display: inline-block;
            }

            .fa-arrow-right {
                display: none;
            }
        }

        #wrapper.toggled {
            #sidebar-wrapper {
                margin-left: -15rem;
            }

            #page-content-wrapper {
                margin-left: 0;
            }

            #menu-toggle {
                .fa-arrow-left {
                    display: none;
                }

                .fa-arrow-right {
                    display: inline-block;
                }
            }
        }
    }

    #menu-toggle {
        float: right;
        margin-right: -40px;
        margin-top: 0;
        height: 56px;
        width: 40px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 28px;
        border-top-right-radius: 28px;
        border-top-left-radius: 0;
        border-color: rgb(222, 226, 230);
    }
}
