{% extends 'design/layout.html.twig' %}

{%- block title -%}
    Asset loaded
{%- endblock -%}

{% block body %}{% endblock %}

{% block design_modal %}
    {% embed 'design/_modal.html.twig' %}
        {% block message %}
            <p>Check that the CSS are well loaded; this div must be well displayed in the center of the screen.</p>
        {% endblock %}
    {% endembed %}
{% endblock %}
