{% extends 'design/layout.html.twig' %}

{% block title %}
    jQuery actived
{% endblock %}

{% block body %}{% endblock %}

{% block design_modal %}
    {% embed 'design/_modal.html.twig' %}
        {% block message %}
            <p>Check that javascript is loaded and that jQuery is enabled; the "close" button should work.</p>
        {% endblock %}
    {% endembed %}
{% endblock %}
