{% extends 'front_base.html.twig' %}

{% block title %}
	Hello HomepageController!
{% endblock %}

{% block body_title %}
	Hello
	{{ controller_name }}! ✅
{% endblock %}

{% block body_content %}
	This friendly message is coming from:
	<ul>
		<li>Your controller at
			<code>
				<a href="{{ 'C:/Workspace/skeleton/skeleton/src/Controller/HomepageController.php'|file_link(0) }}">src/Controller/HomepageController.php</a>
			</code>
		</li>
		<li>Your template at
			<code>
				<a href="{{ 'C:/Workspace/skeleton/skeleton/templates/homepage/index.html.twig'|file_link(0) }}">templates/homepage/index.html.twig</a>
			</code>
		</li>
	</ul>
{% endblock %}
