{% extends 'design/layout.html.twig' %}

{% block title %}Asset
{% endblock %}

{% block body %}
    <p>Verify asset is loaded</p>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
