{% extends 'design/layout.html.twig' %}

{% block title %}Asset
{% endblock %}

{% block body %}
    <p>Verify jQuery is loaded :
        <input id="design_button" type="submit" value="Test"/>
    </p>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $("#design_button").click(function (e) {
                alert('jQuery working');
            });
        });
    </script>
{% endblock %}
