<a class="navbar-brand" href="#">Start Bootstrap</a>
{% include 'tools/navbar/_icon.html.twig' %}
<div class="collapse navbar-collapse" id="navbar">
    {% block navbar %}
        <ul class="navbar-nav ml-auto">
            {% block navbar_items %}
                {% include 'tools/navbar/_home.html.twig' %}
                {% include 'tools/navbar/_design.html.twig' %}
                {% include 'tools/navbar/_admin.html.twig' %}
                {% include 'tools/navbar/_user.html.twig' %}
            {% endblock navbar_items %}
        </ul>
    {% endblock navbar %}
</div>
