<div class="alert-group">
	{% for type,messages in app.flashes %}
		{% for message in messages %}
			{% if type == 'msg' %}
				{% include "@MazariniMessage/_alert.html.twig" with { 'type': message.type, 'message': message.text } only %}
			{% else %}
				{% include "@MazariniMessage/_alert.html.twig" with { 'type': type, 'message': message } only %}
			{% endif %}
		{% endfor %}
	{% endfor %}
</div>
