{% include 'tools/navbar/_icon.html.twig' %}
<div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        {% include 'tools/navbar/_home.html.twig' %}
        {% include 'tools/navbar/_design.html.twig' %}
        {% include 'tools/navbar/_admin.html.twig' %}
        {% include 'tools/navbar/_user.html.twig' %}
    </ul>
</div>
