{% extends 'layout/back.html.twig' %}

{% block title %}Edit User
{% endblock %}

{% block page %}
    <h1>Edit User</h1>

    {% embed 'tools/_form.html.twig' with {'form': form, 'path_cancel': path('user_show', {id: user.id}), 'label_validate': 'Update'} only %}{% endembed %}

{% endblock %}
