{% extends 'layout/back.html.twig' %}

{% block title %}New User
{% endblock %}

{% block page %}
    <h1>Create new User</h1>
    {% embed 'tools/_form.html.twig' with {'form': form, 'path_cancel': path('user_index'), 'label_validate': 'Update'} only %}{% endembed %}
{% endblock %}
